@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.myButton {
  position: relative;
  padding: 12px 36px;
  margin-top: 30px;
  background-color: #1a1a1a00;
  color: #ffffff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 5px #03e9f4, 0 0 200px #03e9f4;
  font-size: 1.4em;
  letter-spacing: 2px;
  font-family: "Roboto";
  display: inline-block;
  text-transform: uppercase;
  border-radius: 10px;
}

.myButton:hover {
  background-color: #03d8f4;
  color: #212121;
}
